*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  background-color: red;
  font-family: helvetica, sans-serif;
  margin: 0;
}
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.container {
  position: relative;
  display: block;
  margin: 10%
}

h1 {
  text-align: center;
}
table {
  position: absolute;
  top:4em;
  background-color: lightgrey;
  border: 1px solid rgba(29,150,178,1);
  width: 100%;
  padding: 0em;
  border-spacing: 0em;
}
td, th {
 padding: 0.5rem;
 border-bottom: 1px solid rgba(0,0,0,1);
}
th {
  background-color: rgba(29,150,178,1);
  /*border: 1px solid rgba(0,0,0,1);*/
  color: rgba(255,255,255,.9);

}
td {
  background-color: rgba(239,239,238);
  /*border: 1px solid rgba(29,150,178,1);*/
  color: rgba(0,0,0,1);
}
.head {
  position: absolute;
  top:1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

tbody tr:nth-child(odd) {
  background-color: white;
}
